.shape_circle {
  width: fit-content;
  position: absolute;
  right: 6px;
  top: -80%;
  animation: movebounce 5s infinite linear;

  @keyframes movebounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  z-index: 1;

  .Title {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
  }

  .uk_grid {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    background-image: url("/images/arrow_ar.png");
    background-repeat: no-repeat;
    background-position: top; /* Initial position */
    /* Adjust the following line to move the image by a certain number of pixels */
    background-position: top 20px;

    .item {
      flex: 1;
      flex-grow: 1;
      text-align: center;
      margin-left: 20px;

      .single_process {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .icon {
          border: 4px solid #eeeeee;
          width: 75px;
          height: 75px;
          color: #ffffff;
          border-radius: 50%;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-left: auto;
          margin-right: auto;

          .uk_icon {
            font-size: 35px;
          }
        }

        .content_process {
          h3 {
            line-height: 1.4;
            color: black;
            margin: 0;
            font-size: 22px;
            font-weight: 700;
          }
          span {
            color: #848484;
            line-height: 1.9;
            margin-top: 7px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.itemWithMargin {
  margin-top: 40px;
}
