.container {
  max-width: 1200px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .Title {
      display: flex;
      align-items: center;
    //   display: block;
      width: fit-content;
      flex-direction: column;
    }
  }
}
