.container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(306px, 1fr));
  grid-template-rows: auto;
  gap: 30px;
  position: relative;
  margin-top: -80px;
  padding-bottom: 50px;
  z-index: 100;

  @media only screen and (max-width: 991px) {
    gap: 0;
    margin-top: 0px;
  }

  @media only screen and (max-width: 959px) {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 20px;
  }

  .box_one,
  .box_three {
    background: $boxService;
    cursor: pointer;
    transition: 0.5s;
    position: relative;

    .box_contant {
      padding: 40px;

      .icon {
        font-size: 45px;
        color: $primary;
        transition: 0.5s;
      }
      h3 {
        margin-top: 5px;
        color: black;
        font-size: 22px;
        font-weight: 700;
      }

      .bar {
        position: relative;
        z-index: 1;
        background: #f6941d;
        width: 55px;
        height: 3px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        margin-top: 7px;
        margin-bottom: 20px;
        overflow: hidden;

        &::after,
        &::before {
          content: "";
          position: absolute;
          height: 100%;
          background: #fff;
          animation: moveX 2s infinite linear;
        }

        &::after {
          width: 4px;
          top: 0;
          right: 10px;
        }

        &::before {
          width: 4px;
          top: 0;
          left: 30px;
        }

        @keyframes moveX {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-50px);
          }
        }
      }

      p {
        margin-bottom: 0;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #848484;
        line-height: 1.9;
        margin-bottom: 15px;
        margin-top: 0;
        font-size: 15px;
      }
    }

    &:hover {
      background: $primary;

      .box_contant {
        .icon {
          color: #fff;
        }

        h3 {
          color: #fff;
        }
        .bar {
          background: #fff;

          &::after,
          &::before {
            background: $primary;
          }
        }

        p {
          color: #f0efef;
        }
      }
    }

    div {
      .dot {
        transform: rotate(90deg);
        position: absolute;
        bottom: 5px;
        left: 10px;
      }

      .shape1 {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 1;
        transition: 0.2s;
      }
      .shape2 {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(10px);
      }
      .shape3 {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(10px);
      }
    }

    &:hover .shape1 {
      opacity: 1;
      transform: matrix(10deg);
    }
  }
}

.box_two {
  background: $primary;
  cursor: pointer;
  transition: 0.5s;
  position: relative;

  .box_contant {
    padding: 40px;

    .icon {
      font-size: 45px;
      color: #fff;
      transition: 0.5s;
    }
    h3 {
      margin-top: 5px;
      color: #fff;
      font-size: 22px;
      font-weight: 700;
    }

    .bar {
      position: relative;
      z-index: 1;
      background: #fff;
      width: 55px;
      height: 3px;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      margin-top: 7px;
      margin-bottom: 20px;

      &::after,
      &::before {
        content: "";
        position: absolute;
        height: 100%;
        background: $primary;
        animation: moveX 2s infinite linear;
      }

      &::after {
        width: 4px;
        top: 0;
        right: 10px;
      }

      &::before {
        width: 4px;
        top: 0;
        left: 30px;
      }

      @keyframes moveX {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-50px);
        }
      }
    }

    p {
      margin-bottom: 0;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #f0efef;
      line-height: 1.9;
      margin-bottom: 15px;
      margin-top: 0;
      font-size: 15px;
    }
  }
  div {
    .dot {
      transform: rotate(90deg);
      position: absolute;
      bottom: 5px;
      left: 10px;
    }
  }
}
